# Allow the EB EC2 instance to read/write PO attachments in S3.
Resources:
  PoSystemS3Policy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: PoSystemS3BucketAccess
      Roles:
        - aws-elasticbeanstalk-ec2-role
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: PoSystemFilesObjectAccess
            Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:DeleteObject
            Resource: arn:aws:s3:::po-system-files/*
          - Sid: PoSystemFilesListBucket
            Effect: Allow
            Action:
              - s3:ListBucket
            Resource: arn:aws:s3:::po-system-files
